aiohttp==3.9.5
fastapi==0.111.0
pydantic==2.7.1
uvicorn[standard]==0.23.2
asyncpg==0.29.0
fastapi-healthchecks==1.1.0

ecs-logging==2.1.0

pytest==8.2.0
pytest-asyncio==0.23.6
pytest-cov==5.0.0
pytest-mock==3.14.0
